<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startseite | Fighting Game X Official Demo and Roadmap</title>
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>

    <header class="background"> 
      <nav class="nav main-nav">
          <ul>
            <li><a href="/startseite">Startseite</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/loginformular">Login</a></li>
            <li><a href="/game-seite">Spiel</a></li>
            <li><a href="/registrierung">Registrierung</a></li>
          </ul>
      </nav>
      <h1 class="band-name band-name-large">Fighting Game X</h1>
    </header>
    
        <p><a href="/index-parry"> Hier gehts zum Spiel</a>
        </p>
        <a href="/loginformular">Rückleitung zur Anmeldung</a>
        <br>
            <a href="/abmelden">Abmeldung</a>

        <img src="wip_style_samurai-picture.jpg">
   
  </body>
</html>
