<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startseite | Fighting Game X Official Demo and Roadmap</title>
    <link rel="stylesheet" href="styles.css">
  </head>

  
  <body>
    <header class="background"> 
      <nav class="nav main-nav">
          <ul>
            <li><a href="/startseite">Startseite</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/loginformular">Login</a></li>
            <li><a href="/game-seite">Spiel</a></li>
            <li><a href="/registrierung">Registrierung</a></li>
          </ul>
      </nav>
      <h1 class="band-name band-name-large">Fighting Game X</h1>
    </header>
    <!-- Sichtbarer Dokumentinhalt im body -->
    <div class="center">
      <h1 class="center-h1">Login</h1>

      <form action="/loginformular" method="POST">
        <div class="txt_field">
          <input type="text" id="fname" name="benutzer" value="Marcus">
          <span></span>
          <label>Benutzername</label>
        </div>
        <div class="txt_field">
          <input type="password" id="lname" name="password" value="Möller">
          <span></span>
          <label>Passwort</label>
        </div>
        <div>
          <input type="submit" value="Login">
        </div>
      </form> 
        
        <p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>
        
    </div>
      
      <footer class="main-footer">
        <div class="container main-footer-container">
          <h3 class="band-name">Fighting Game X</h3>
        </div>
      </footer>
   
  </body>
</html>
