<!DOCTYPE html>
<html>
    <head>
        <style>
            * {
                box-sizing: border-box;
            }
    
        </style>
    
        <title>Fehlgeschlagener Login</title>
    
    </head>
    <body>
        <h1>Der Login war nicht erfolgreich</h1>
        <p>
            Der Login war leider nicht erfolgreich <%= benutzername%>.

            <a href="/loginformular">Rückleitung zur Anmeldung</a>
            



        </p>
</body>

</html>