<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startseite | Fighting Game X Official Demo and Roadmap</title>
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>

    <header class="background"> 
      <nav class="nav main-nav">
          <ul>
            <li><a href="/startseite">Startseite</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/loginformular">Login</a></li>
            <li><a href="/game-seite">Spiel</a></li>
            <li><a href="/registrierung">Registrierung</a></li>
          </ul>
      </nav>
      <h1 class="band-name band-name-large">Fighting Game X</h1>
    </header>
    <!-- Sichtbarer Dokumentinhalt im body -->

    <section class="content-section container">
      <h1 class="section-header">INFO</h1>
      <img class="about-band-image" src="wip_style_samurai-picture2.jpg">
      <p class="text-box">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam 
      </p>
      
      <p>
        <a class="reg-button" href="/registrierung"> Hier gehts zur Registrierung</a>
      </p>
      
    </section>

    <footer class="main-footer">
      <div class="container main-footer-container">
        <h3 class="band-name">Fighting Game X</h3>
      </div>
    </footer>
  </body>
</html>
