@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@font-face {
    font-family: go3v2;
    src: url("go3v2.ttf");
}
* {
    box-sizing: border-box;
    font-family:   Raleway;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.background {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("japanese-house-night-time-art.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.band-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "go3v2";
    font-weight: normal;
    color: white;
}

.band-name-large {
    font-size: 8em;
}

.content-section {
    margin: 2em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family: Permanent Marker;
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2em;
}

.about-band-image {
    float: left;
    height: 250px;
    width: 250px;
    margin: 15px;
    border-radius: 30%;
}

.reg-button {
    font-family: Permanent Marker;
    font-weight: normal;
    text-decoration: none;
    color: #333;
}

.main-footer {
    background-color: rgb(68, 68, 68);
    color: white;
    padding: .25em 0;
    margin-top: auto;
}

.center-h1 {
    color: white;
    font-family: Permanent Marker;
    font-weight: normal;
    text-align: center;
    padding-bottom: .5em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #333;
    border-radius: 10px;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color:#adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:focus ~ label {
    top: -5px;
    color: #2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:focus ~ span::before {
    width: 100%;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: none;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    border: 1px solid;
    border-color: #2691d9;
    transition: .5s;
}

.column {
    float: left;
    width: 24%;
    margin-bottom: 16px;
    padding: 0 6px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}

.container2 {
    padding: 0 16px;
}

.container2::after, .row::after {
    content: "";
    clear: both;
    display: table;
}