<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Das Team</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
    </head>

  <body>

    <header class="background"> 
      <nav class="nav main-nav">
          <ul>
            <li><a href="/startseite">Startseite</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/loginformular">Login</a></li>
            <li><a href="/game-seite">Spiel</a></li>
            <li><a href="/registrierung">Registrierung</a></li>
          </ul>
      </nav>
      <h1 class="band-name band-name-large">Fighting Game X</h1>
    </header>

    <section>

      <h2 class="section-header">Das Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="marcus.jpg" alt="Marcus" style="width:100%">
            <div class="container">
              <h2>Marcus Möller</h2>
              <p class="title" style="font-size:130%;">Lead Programmer</p>
              <p>Ich bin Marcus, der Lead Programmer.</p>
            </div>
          </div>
        </div>
      
      </body>
    
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="max.jpg" alt="Max" style="width:100%">
            <div class="container">
              <h2>Max Tang</h2>
              <p class="title" style="font-size:130%;">Lead Designer</p>
              <p>Ich bin Max, der Lead Designer.</p>
            </div>
          </div>
        </div>
      
      </body>
    
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="henri.jpg" alt="Henri" style="width:100%">
            <div class="container">
              <h2>Henri Fiedler</h2>
              <p class="title" style="font-size:130%;">Senior Programmer</p>
              <p>Ich bin Henri, der Senior Programmer.</p>
            </div>
          </div>
        </div>
      
      </body>
    
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="tyler.jpg" alt="Tyler" style="width:100%">
            <div class="container">
              <h2>Tyler Lababidi</h2>
              <p class="title" style="font-size:130%;">Senior Programmer/Designer</p>
              <p>Ich bin Tyler, der Senior Programmer und Designer.</p>
            </div>
          </div>
        </div>
    </section>
  
    <footer class="main-footer">
      <div class="container2 main-footer-container">
        <h3 class="band-name">Fighting Game X</h3>
      </div>
    </footer>

  </body>
  </html>
